<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.10/vue.min.js"
        integrity="sha512-H8u5mlZT1FD7MRlnUsODppkKyk+VEiCmncej8yZW1k/wUT90OQon0F9DSf/2Qh+7L/5UHd+xTLrMszjHEZc2BA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="./js/script.js" defer></script>
    <title>Vue - To do list</title>
</head>

<body>
    <div id="app">
        <h1>To do list</h1>
        <div class="aggiungiAttivita">
            <input type="text" v-model="nuovaAttivita">
            <button @click="aggiungiAttivita">Aggiungi</button>
        </div>
        <div class="listaAttivita">
            <h1>Cose da fare:</h1>
            <ul>
                <li v-for="(attivita, indice) in planningGiornata">
                    <span :class="attivita.done == true ? 'testoSbarrato' : ''"><i class="fa-regular fa-circle-xmark"
                            @click="cancellaAttivita(indice)"></i> {{
                        attivita.text
                        }}</span>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>